div {

max-width: 1600px
}

#content { 

    margin: 0 auto;
}

nav a { 
    text-align: center;
}
#hero-msg h1 { 
    text-align: center;
}

#hero-msg h4 { 
    text-align: center;
}
.button-box { 
    text-align: center;
}
main section { 
    text-align: center;
}

#background {
    height: 725px;
}


body { 
    background-color: blue
}
header { 
    background-color: White
}
nav a:hover { 
    background-color: White;
    color: navy;
}
.book, .join { 
    background-color: maroon;
    color: white
}
.book:hover { 
    background-color: whitesmoke;
    color: navy;
}
 .join:hover { 
    background-color: blue;
    color: white;

 }
#background { 
     background-color: White
}
.msg { 
     background-color: White
}
footer { 
     background-color: White;
     color: navajowhite;
}

nav a { 
    color: #d9c2a3;
}
.home-title {
    color: navy
}
h4 {
    color: navajowhite
}
.msg h2 {
    color: black
}
.msg p {
    color: blue
}
footer a {
    color: navajowhite
}
footer a:hover {
    color: black
}

.icon {
    width: 80px;
}

nav a { 
     text-align: center;
    color: navy;
    text-decoration: none;
}
.book, .join {
     text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer a {
     text-align: center;
    color: black;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    