.red5 { 
  width: 55%; 
  height: 100px; 
  background-color: red; 
} 
.green5 { 
  width: 200px; 
  height: 200px; 
  background-color: green; 
} 
.yellow5 {
  width: 40%; 
  height: 300px; 
  background-color: gold; 
  margin-left: 200px;
  margin-top: -200px;
  float: left;

} 
.blue5 {
  width: 55%; 
  height: 100px; 
  background-color: blue; 
  float: left;
} 